name: Latest blog post workflow
on:
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://iptvpulse.top/feeds/posts/default?alt=rss"
          max_post_count: "20"
          template: '<a href="$url"><b>$title</b></a><br/><i>$date</i><br/><br/>'
