name: Latest blog post workflow
on:
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Update README with latest blog posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://iptvpulse.top/feeds/posts/default?alt=rss"
          max_post_count: "20"
          force_image_extraction: "true"
          # এই লাইনগুলো যোগ করেছি – ছবি ফিক্স হয়ে যাবে
          image_tag_replacement: 's72-c|s72-w'  # s72-c কে খুঁজে বের করবে
          image_tag_replacement_with: 's400'    # s400 তে চেঞ্জ করবে (বড় ছবি)
          disable_image_proxy: "false"          # Proxy চালু রাখবে GitHub এর জন্য
          template: '<br/><a href="$url"><img src="$img_src" align="left" width="150" hspace="10" style="border-radius:5px;"/></a> <a href="$url"><b>$title</b></a><br/><i>$date</i><br clear="left"/><br/>'
