name: Latest blog post workflow

on:
  schedule:
    - cron: '0 */8 * * *'  # প্রতি ৮ ঘন্টা
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update README with latest blog posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://iptvpulse.top/feeds/posts/default?alt=rss"
          max_post_count: "20"
          force_image_extraction: "true"
          template: |
            <table>
            {{#posts}}
              <tr>
                <td>
                  <a href="{{url}}">
                    <img src="{{img_src}}" width="150" style="border-radius:5px;"/>
                  </a>
                </td>
                <td>
                  <a href="{{url}}"><b>{{title}}</b></a><br/>
                  <i>{{date}}</i>
                </td>
              </tr>
            {{/posts}}
            </table>
