name: Latest blog post workflow

on:
  schedule:
    - cron: '0 */8 * * *'  # প্রতি ৮ ঘন্টা
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update README with latest blog posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://iptvpulse.top/feeds/posts/default?alt=rss"
          max_post_count: "20"
          force_image_extraction: "false"
          template: |
            {{#posts}}
            - [{{title}}]({{url}}) <br/><i>{{date}}</i><br/>
            {{/posts}}
