name: Update Blog Posts

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: JasonEtco/rss-to-readme@v4
        with:
          feed-url: https://iptvpulse.top/feeds/posts/default?alt=rss
          readme-section: blog-posts
          max-items: 23
          template: |
            <a href="{{link}}">
              <img src="{{image}}" width="150" align="left" hspace="12" style="border-radius:10px; box-shadow:0 4px 12px rgba(0,0,0,0.2); margin-bottom:8px">
            </a>
            <a href="{{link}}"><b>{{title}}</b></a><br>
            <small>{{date}}</small><br clear="left"><br>
