name: Update Blog Posts
on: [workflow_dispatch, schedule]
  - cron: "0 */6 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://iptvpulse.top/feeds/posts/default?alt=rss"
          max_post_count: 23
          template: |
            <br/>
            <a href="$url"><img src="https://images.weserv.nl/?url=$img_src&h=300&w=500&il" align="left" width="150" hspace="12" style="border-radius:10px;box-shadow:0 4px 12px rgba(0,0,0,0.2)"/></a>
            <a href="$url"><b>$title</b></a><br/>
            <i>$date</i><br clear="left"/><br/>
